version: "3.8"
services:
  api:
    image: ghcr.io/Sohamvibhandik/branch-loan-api:${IMAGE_TAG}
    container_name: branchloan-api
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - PORT=${PORT}
    restart: unless-stopped
    networks:
      - branchnet

  db:
    image: postgres:15
    container_name: branchloan-db
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - branchnet

  caddy:
    image: caddy:2
    container_name: branchloan-caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    depends_on:
      - api
    networks:
      - branchnet

volumes:
  dbdata:
  caddy_data:

networks:
  branchnet:
